@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display');

.form-container {
    display: grid;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 2fr 1fr 1fr; */
    justify-content: center;
    align-items: center;
}

#duration-display {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

input {
    border: 2px white solid;
    background-color: gold;
}

button {
    background-color: white;
    color: navy;
    border: 2px gold solid;
}

input, button {
    font-family: 'DM Serif Display';
    color: navy;
}

#scanner-container {
    display: none;
}

video {
    justify-self: center;
    max-width: 100%;
    padding: 0.25rem;
    border-radius: 1rem;
}

.duration-button {
    color: white;
    text-align: center;
}