@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display');

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

#duration-display {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

input {
    border: 2px white solid;
    background-color: gold;
}

button {
    background-color: white;
    color: navy;
    border: 2px gold solid;
}

input, button {
    font-family: 'DM Serif Display';
    color: navy;
}

.duration-button {
    font-size: 1rem;
    font-weight: bolder;
}

video {
    justify-self: center;
    max-width: 100%;
    display: none;
    padding: 0.5rem;
    border-radius: 1rem;
}