@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display');

input {
    border: 2px white solid;
    background-color: gold;
}

button {
    background-color: gold;
    color: navy;
}

input, button {
    font-family: 'DM Serif Display';
    font-size: 0.5rem;
}

video {
    width: 100%;
    display: none;
    padding: 0.5rem;
    border-radius: 1rem;
}