body {
    background-color: darkgreen;
}

.color1 {
    color: white;
    border: 2px white solid;
}

.color2 {
    background-color: white;
    color: darkgreen;
}

div#teacher-signature {
    font-family: 'Pacifico';
}

div#signed-by {
    padding-bottom: 0.5rem;
}