@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    height: 90vh;
}

.header-container {
    display: grid;
    align-items: start;
    justify-content: center;
}

body {
    background-color: navy;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    margin: 1rem;
}

body, a {
    color: white;
}

.header {
    font-size: 2rem;
}

.footer {
    display: grid;
    font-size: small;
    text-align: right;
}

.card {
    padding: 1rem;
    border-radius: 10px;
    margin: 0.5rem;
    font-size: 1.5rem;
}