@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    background-color: navy;
    text-align: center;
    max-height: 100%;
    color: white;
    font-family: 'DM Serif Display', serif;
    margin: 1rem;
}

.header > h1 {
    font-size: 3rem;
}

.header > div {
    font-size: 2rem;
}

.footer {
    font-size: small;
    text-align: right;
}

img#husky {
    width: 50%;
}

.card {
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-size: xx-large;
}